Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        </head>

    <body>
         <section th:fragment="editarCliente"> 
             <form   th:action="@{/guardar}" method="post" th:object="${persona}" class="was-validated">
                        <input type="hidden" name="id" th:field="*{id}">     
                        <section th:replace="layout/botonesEditar :: botonesEditar"></section>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4> [[#{accion.editar}]]</h4>
                                                    </div>
                                            
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for=""> [[#{persona.nom}]]</label>
                                                    <input class="form-control" type="text" name="nombre" required="true" th:field="*{nombre}">
                                                </div>
                                                  <div class="form-group">
                                                    <label for=""> [[#{persona.apell}]]</label>
                                                    <input class="form-control" type="text" name="apellido" required="true" th:field="*{apellido}">
                                                </div>
                                                  <div class="form-group">
                                                    <label for=""> [[#{persona.email}]]</label>
                                                    <input class="form-control" type="email" name="email" required="true" th:field="*{email}">
                                                </div>
                                                  <div class="form-group">
                                                    <label for=""> [[#{persona.cel}]]</label>
                                                    <input class="form-control" type="tel" name="celular" required="true" th:field="*{celular}">
                                                </div>
                                                  <div class="form-group">
                                                    <label for=""> [[#{persona.saldo}]]</label>
                                                    <input class="form-control" type="number" name="saldo" required="true" th:field="*{saldo}">
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </form>
         </section>
    </body>
</html>