<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
       </head>
    <body>
         <header th:replace="layout/layout :: header"></header>
          <section th:replace="layout/editarCliente :: editarCliente"> </section>
           <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
